/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(118,202,255);
  font-family: 'Lato', sans-serif;
}

table {
  margin: 20px;
  border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

a {
  background-color: white;
  display: block;
  width: 200px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  font-size: 2em;
}

a:visited {
  color: black;
}

header {
  height: 10px;
}

header a {
  font-size: .5em;
  padding: 10px;
  margin: 0px;
  width: 100%;
  border-radius: 0;
}

div.new_visitor {
  margin: 40px auto;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: white;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 0px;
}

form {
  text-align: center;
}

#popup {
  z-index: 8;
  position: relative;
  top: 130px;
  left: 35%;
  background-color: rgba(255,255,255,.8);
  width: 200px;
  height: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 5px; 
  display: none;
}

#fade {
  position: absolute;
  width: 1000px;
  height: 1000px;
  z-index: 5;
  background-color: rgba(255,255,255,.5);
  display: none;
}

